@import "../../../../Sass/mixin";
@import "../../../../Sass/variables";

.lefteye {
  padding: 0.5rem 0rem;
  padding-bottom: 150px;
  //   background-color: #4cc9f0;
  position: relative;
  &_content {
    width: 75%;
    margin: auto;
    &_left {
      width: 58.6rem;
      :nth-child(3){
        margin-top: 2rem;
      }
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 90px;
        color: $textprimary;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 32px;
        text-align: justify;
        letter-spacing: -0.03em;
        color: $textprimary;
      }
    }
  }
}
.sidestore {
  position: absolute;
  right: 0%;
  top: 8%;
}
