@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.voip_container {
  padding: 3rem 0rem;
  background-image: url("../../../assets/servicesAssets/singlebgWL.svg");
  background-repeat: no-repeat;
  background-position: end;
  background-size: cover;

  //   background-color: aqua;
  &_content {
    &_top {
      width: 75%;
      margin: auto;
    }
    &_middle {
      margin-top: 141px;
    }
    &_bottom {
      width: 75%;
      margin: auto;
      margin-top: 109px;
      display: flex;
      justify-content: center;
      & > *:not(:first-child) {
        margin-left: 120px;
      }

      &_left {
        margin-top: 10rem;
      }
      &_right {
        width: 61.2rem;
        & > *:not(:first-child) {
          margin-top: 25px;
        }
      }
    }
  }
}
// ************* Voice container ************************

.voice_container {
  &_content {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    & > *:not(:first-child) {
      margin-left: 120px;
    }
    &_left {
      width: 58.6rem;
      margin-top: -4rem;
      & > *:not(:first-child) {
        margin-top: 25px;
      }
    }
    &_right {
      width: 42.2rem;
    }
  }
}
