@import "../../Sass/mixin";
@import "../../Sass/variables";

// ************************* Header Container ***********************************
.header_container {
  position: relative;
  height: 80rem;
  background-color: white;
  background-image: url("../../assets/homeAssets/bg0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  //   background-image: url("../../../assets/headerAssets/wline2.svg");
  padding-top: 3rem;
  @include respond(tab-land) {
    // background-color: green;
  }
  @include respond(tab-port) {
    // background-color: red;
    // background-image: none;
  }
  @include respond(phone) {
    // background-color: yellow;
    // background-image: none;
    background-position: end;
    background-size: cover;
  }
  &_content {
    width: 75%;
    margin: auto;
    // padding: 0.5rem 0rem;
    // background-color: palevioletred;
    @include respond(tab-land) {
      // background-color: green;
      width: 85%;
      margin: auto;
    }
    @include respond(tab-port) {
      // background-color: green;
      width: 95%;
      margin: auto;
    }
    @include respond(phone) {
      // background-color: green;
      width: 95%;
      margin: auto;
    }

    &_middle {
      margin-top: 16.1rem;
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 5.9rem;
        line-height: 88px;
        color: #212427;
        @include respond(phone){
          font-size: 3.5rem; 
          line-height: 55px;
         }
      }
      h1 {
        font-family: "Archivo Black";
        font-style: normal;
        font-size: 9.2rem;
        line-height: 100px;
        background: linear-gradient(90.97deg, #0000c8 33.22%, #62049f 91.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond(tab-land){
          font-size: 8rem;
        }
        @include respond(tab-port){
         font-size: 7rem; 
        }
        @include respond(phone){
         font-size: 4.5rem; 
         line-height: 70px;
        }
      }
      &_btn {
        margin-top: 6.3rem;

        button {
          cursor: pointer;
          width: 22rem;
          background: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 36px;
          color: #212427;
          //   & > *:not(:first-child) {
          //     margin-left: 17px;
          //   }
        }
      }
    }
  }
  &_bottom {
    width: 75%;
    margin: auto;
    z-index: 99999999;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 5.1rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1692) 0%,
      rgba(255, 255, 255, 0) 136.36%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(11px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
    @include respond(tab-land){
     width: 95%;     
    }
    @include respond(tab-port){
     display: none;  
    }
  }
}
.percent_container {
  width: 25rem;
  // background-color: aqua;
  h1 {
    text-align: center;
    font-family: "Archivo Black";
    font-size: 5.1rem;
    line-height: 82px;
    background: linear-gradient(0deg, #0000c8, #0000c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal;
  }
  p {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 36px;
    color: #ffffff;
  }
}
// ************************* Home Middle Container ***********************************

.homeMain_container {
  background-image: url("../../assets/homeAssets/bg1.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .about_container {
    position: relative;
    padding: 2rem 0rem;
    background: linear-gradient(0deg, #0000c8, #0000c8);
    &_content {
      width: 75%;
      margin: auto;
      padding: 2rem 0rem;
      @include respond(tab-land) {
        // background-color: green;
        width: 85%;
        margin: auto;
      }

      &_left {
        width: 50%;
        margin-top: 15rem;
        @include respond(tab-port){
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 2rem;
          line-height: 72px;
          color: white;
        }
        h3 {
          margin-top: 3rem;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 5.1rem;
          // line-height: 82px;
          color: #fafafa;
        }
        h1 {
          font-family: "Archivo Black";
          font-size: 7.7rem;
          line-height: 82px;
          color: #fafafa;
        }
        p {
          width: 90%;
          margin-top: 5.6rem;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 32px;
          text-align: justify;
          letter-spacing: -0.03em;
          color: #ffffff;
        }
        button {
          margin-top: 5.7rem;
          background: none;
          border: 1px solid #4cc9f0;
          border-radius: 70px;
          padding: 0.5rem 2.1rem;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 32px;
          text-align: justify;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
    img {
      position: absolute;
      right: 0%;
      top: 39%;
      @include respond(tab-land) {
        width: 62rem;
      }
      @include respond(tab-port) {
        
        display: none;
      }
    }
  }
  // ************************* Home Middle Service Container ***********************************

  .services_container {
    padding: 2rem 0rem;
    margin-top: 168px;
    &_content {
      width: 75%;
      margin: auto;
      @include respond(tab-land) {
        // background-color: green;
        width: 85%;
        margin: auto;
      }
      &_top {
        span {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 2rem;
          line-height: 72px;
          letter-spacing: 0.35em;
          text-transform: uppercase;
          color: #0000c8;

        }
        h2 {
          margin-top: 2.6rem;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 5.1rem;
          line-height: 90px;
          color: #fafafa;
          @include respond(phone){
            font-size: 3.5rem; 
            line-height: 50px;
           }
        }
        h1 {
          font-family: "Archivo Black";
          font-size: 7.7rem;
          line-height: 90px;
          color: #0000c8;
          @include respond(phone){
            font-size: 4rem; 
           }
        }
      }
      &_middle {
        // width: 80%;
        margin: auto;
        padding-top: 98px;
        overflow-x: auto;
        padding-bottom: 2rem;
        &_content {
          width: 1400px;
          display: flex;
          // justify-content: space-between;
          & > *:not(:first-child) {
            margin-left: 3rem;
          }
        }
      }
      &_bottom {
        display: flex;
        justify-content: right;
        margin-top: 185px;
        padding: 0.5rem 0rem;
        // background-color: lawngreen;
        @include respond(tab-port){
         justify-content: left; 
        }
        &_right {
          width: 40%;
          // background-color: #4cc9f0;
          @include respond(tab-port){
          width: 100%;
          }
          h1 {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 2rem;
            line-height: 72px;
            letter-spacing: 0.35em;
            color: #ffffff;
          }
          p {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 32px;
            text-align: justify;
            letter-spacing: -0.03em;
            color: #ffffff;
          }
        }
      }
    }
  }
}
// ************************* Mission Container ***********************************

.mission_container {
  padding: 0.5rem 0rem;
  background-image: url("../../assets/homeAssets/bg2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: #4cc9f0;
  @include respond(tab-port){
    display: none;
  }
  &_content {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0rem;
    // background-color: #4cc9f0;
    @include respond(tab-land) {
      // background-color: green;
      width: 85%;
      margin: auto;
    }
    margin-bottom: 150px;
    & > *:not(:first-child) {
      margin-left: 6rem;
    }
    &_left {
      width: 46%;
      // background-color: yellow;
      & > *:not(:first-child) {
        margin-top: 3rem;
      }
      &_b1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.38) 0%,
          rgba(255, 255, 255, 0.152) 100%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 30px;
        z-index: 99999;
        margin-top: -300px;
        h1 {
          margin-top: 64px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 5.1rem;
          line-height: 82px;
          color: #fafafaa9;
        }
        span {
          font-family: "Archivo Black";
          font-style: normal;
          font-weight: 400;
          font-size: 7.7rem;
          line-height: 82px;
          color: #fafafa;
        }
        img {
          background-color: red;
          width: 100%;
        }
      }
      button {
        float: right;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 32px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #0000c8;
        background: none;
        padding: 5px 21px;
        border: 1px solid #0000c8;
        border-radius: 70px;
        margin-top: 35px;
        cursor: pointer;
      }
    }
    &_right {
      // width: 45%;
      // background-color: red;
      & > *:not(:first-child) {
        margin-top: 3rem;
      }
    }
  }
}

.imglayout {
  margin-top: 120px;
  width: 48rem;
  height: 64rem;
  background-image: url("../../assets/missionAssets/mi1.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
  border-radius: 30px;
  // margin-bottom: 1rem;
  // background-color: #0000c8;

  h1 {
    font-weight: 600;
    color: white;
    letter-spacing: 0.1ch;
    display: none;
  }
  &:hover {
    background: linear-gradient(
      179.99deg,
      rgba(0, 0, 200, 0.2652) 0.01%,
      rgba(0, 0, 200, 0.39) 34.88%
    );
    backdrop-filter: blur(15px);
    border-radius: 20px;
    cursor: pointer;
    h1 {
      display: block;
    }
  }
}
// ************************* Testimonials feedback Container ***********************************

.tsf_container {
  width: 100%;
  padding: 2rem 0rem;
  background-image: url("../../assets/homeAssets/bg6.svg");
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: $textprimary;
  }
  &_content {
    width: 80%;
    margin: auto;
    &_top {
      // background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 5.1rem;
        line-height: 90px;
        text-align: center;
        color: $textprimary;
        @include respond(phone){
          font-size: 4rem; 
          line-height: 60px;
         }
      }
      span {
        font-family: "Archivo Black";
        font-style: normal;
        font-weight: 400;
        font-size: 7rem;
        line-height: 90px;
        text-align: center;
        background: linear-gradient(264.21deg, #0000c8 20.07%, #7209b7 88.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond(phone){
          font-size: 4rem;
          line-height: 60px; 
         }
      }
    }
    &_bottom {
      width: 80%;
      margin: auto;
      padding: 1rem 0rem;
      // height: 100vh;
      // background-color: goldenrod;
      margin-top: 3rem;
      @include respond(phone){
        width: 95%;
      }
    }
  }
}

// ************************* Benefit Container ***********************************

.benefit_container {
  padding: 1rem 0rem;
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    line-height: 72px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #0000c8;
  }
  &_content {
    padding: 1rem 0rem;
    height: auto;
    background-image: url("../../assets/homeAssets/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 350px;
    @include respond(tab-land) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &_top {
      padding: 3rem 0rem;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 5.1rem;
        text-align: center;
        line-height: 90px;
        text-align: center;
        color: #fafafa;
        @include respond(phone){
          font-size: 4.5rem;
          line-height: 60px;
        }
      }
      & > h1 {
        font-family: "Archivo Black";
        font-style: normal;
        font-weight: 400;
        font-size: 7.7rem;
        line-height: 82px;
        /* identical to box height, or 106% */
        color: #fafafa;
        @include respond(phone){
          font-size: 6rem;
          line-height: 60px;
        }
      }
    }
    &_bottom {
      width: 65%;
      margin: auto;
      margin-top: 144px;
      padding: 2rem 0rem;
      display: flex;
      justify-content: space-between;
      // background-color: red;
      @include respond(tab-land) {
        width: 75%;
      }
      @include respond(tab-port){
        width: 85%;
      }
      @include respond(phone){
        flex-direction: column;
        align-items: center;
      }
      &_left {
        & > *:not(:first-child) {
          margin-top: 150px;
        }
      }
      &_right {
        & > * {
          margin-top: 163px;
        }
      }
    }
  }
}

.choose {
  width: 35.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 28px;
    text-align: justify;
    color: #ffffff;
  }
}
// ************************* Latests Blog Container ***********************************

.latestblog_container {
  margin-top: 80px;
  padding: 2rem 0rem;
  background-image: url("../../assets/homeAssets/bg4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  &_content {
    width: 80%;
    margin: auto;
    padding: 1rem 0rem;
    @include respond(tab-land) {
      width: 85%;
    }
    &_top {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 5.1rem;
        line-height: 90px;
        text-align: center;
        color: $textprimary;
        @include respond(phone){
          font-size: 4.5rem;
        }
      }
      span {
        font-family: "Archivo Black";
        font-style: normal;
        font-weight: 400;
        font-size: 7.7rem;
        line-height: 90px;
        text-align: center;
        background: linear-gradient(264.21deg, #0000c8 20.07%, #7209b7 88.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5.5rem;
        line-height: 60px;
      }
    }
    &_bottom {
      width: 80%;
      margin: auto;
      padding: 1rem 0rem;
      margin-top: 113px;
      // background-color: palevioletred;
      @include respond(phone){
        width: 90%;
      }
    }
  }
}
// ************************* SocailBar Container ***********************************

.socialbar_container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.38) 0%,
    rgba(255, 255, 255, 0.152) 100%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 2rem 0rem;
  &_content {
    padding: 2rem 0rem;
    width: 70%;
    margin: auto;
    @include respond(phone){
      width: 95%;
    }
    &_top {
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.03em;

        color: $textprimary;
      }
    }
    &_bottom {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      & > *:not(:first-child) {
        margin-left: 2rem;
      }
      @include respond(phone){
        & > *:not(:first-child) {
          margin-left: .7rem;
        }
      }
      @include respond(tab-land) {
        // background-color: red;
        img {
          width: 10rem;
        }
      }
      @include respond(tab-port) {
        // background-color: red;
        img {
          width: 8rem;
        }

      }
      @include respond(phone){
        img{
          width: 4rem;
        }
      }
    }
  }
}

// ************************* Togather Container ***********************************

.togather_container {
  margin-top: 150px;
  padding: 1rem 0rem;
  &_content {
    width: 80%;
    margin: auto;
    @include respond(tab-land) {
      width: 85%;
    }
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 5.8rem;
      line-height: 87px;
      color: #0000c8;
      @include respond(phone){
       font-size: 4.5rem;
       line-height: 57px; 
      }
    }
    h1 {
      font-family: "Archivo Black";
      font-style: normal;
      font-weight: 400;
      font-size: 7.2rem;
      line-height: 78px;
      background: linear-gradient(90.94deg, #0000c8 -1.33%, #4cc9f0 58.56%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      @include respond(phone){
       font-size:4.5rem;
       line-height: 60px; 
      }
    }
  }
}

// ************************* Contact Container ***********************************

.contact_container {
  padding: 2rem 0rem;
  background-image: url("../../assets/homeAssets/contactbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  &_content1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    // & > *:not(:first-child) {
    //   margin-left: 62px;
    // }
    // background-color: yellow;
    @include respond(tab-land) {
      width: 85%;
      flex-direction: column;
    }
    @include respond(tab-port) {
      flex-direction: column;
    }
    &_left {
      width: 47%;
      // margin-left: -50px;
      // background-color: green;
      @include respond(tab-port){
        width: 75%;
        // margin: auto;
      }
      @include respond(tab-land){
        width: 75%;
        // margin: auto;
      }
      @include respond(phone){
       width: 100%; 
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 32px;
        color: white;
        text-align: justify;
      }
    }
    &_right {
      //  width: 47%;
      width: 45%;
      margin-top: -12rem;
      padding: 1rem 0rem;
      // background-color: palevioletred;
      @include respond(phone){
       width: 100%; 
      }
      @include respond(tab-port){
        margin-top: 1rem;
      }
      @include respond(tab-land){
        margin-top: 1rem;
      }
      &_formbox {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.79) 0%,
          rgba(255, 255, 255, 0.1817) 100%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 27px;
        width: 100%;
        height: 80rem;
        &_content {
          padding-top: 120px;
          width: 85%;
          margin: auto;
        }
      }
      &_btn {
        display: flex;
        justify-content: right;
        button {
          width: 35rem;
          height: 79px;
          background-image: $grdient;
          border: none;
          border-radius: 100px 0px 0px 100px;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 2.4rem;
          line-height: 16px;
          cursor: pointer;
          letter-spacing: 0.16em;
          color: #ffffff;
        }
      }
    }
  }
  &_content2 {
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    // background-color: lavenderblush;
    @include respond(tab-land) {
      width: 85%;
    }
    h5 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 32px;
      text-align: justify;
      letter-spacing: -0.03em;
      color: #ffffff;
    }
    &_location {
      // width: 100%;
      margin-top: 20px;
      display: flex;

      display: flex;
      justify-content: space-between;
      // background-color: red;
      @include respond(tab-port){
        flex-direction: column;
      }
      @include respond(tab-land){
        flex-direction: column;
      }
      &_left {
        width: 47%;
        padding: 0.5rem 0rem;
        // background-color: lightcoral;
        
        @include respond(tab-land){
          width: 75%;
        }
        
        @include respond(tab-port){
          width: 75%;
        }
        @include respond(phone){
        width: 100%;
        }
        &_mapbox {
          width: 100%;
          height: 45.4rem;
          box-shadow: 0px 4px 19px 10px rgba(0, 0, 0, 0.16);
          border-radius: 26px;
          iframe {
            border-radius: 26px;
          }
        }
        &_address {
          display: flex;
          align-items: center;
          margin-top: 23px;
          & > *:not(:first-child) {
            margin-left: 1.5rem;
          }
          h1 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 2.6rem;
            line-height: 32px;
            letter-spacing: -0.03em;
            color: #ffffff;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 28px;
            letter-spacing: -0.03em;
            color: #ffffff;
          }
        }
      }
      &_right {
        width: 47%;
        padding: 0.5rem 0rem;
        // background-color: lightgreen;
        @include respond(tab-land){
          width: 75%;
          margin-top: 4rem;
        }
        @include respond(tab-port){
          width: 75%;
          margin-top: 4rem;
        }
        @include respond(phone){
        width: 100%;
        }
        &_mapbox {
          width: 100%;
          height: 45.4rem;
          box-shadow: 0px 4px 19px 10px rgba(0, 0, 0, 0.16);
          border-radius: 26px;
          iframe {
            border-radius: 26px;
          }
        }
        &_address {
          display: flex;
          align-items: center;
          margin-top: 23px;
          & > *:not(:first-child) {
            margin-left: 1.5rem;
          }
          h1 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 2.6rem;
            line-height: 32px;
            letter-spacing: -0.03em;
            color: #ffffff;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 28px;
            letter-spacing: -0.03em;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.mailbox_container {
  padding: 1rem 0rem;
  margin-top: 107px;
  // background-color: red;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 32px;
    text-align: justify;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  &_mail {
    margin-top: 20px;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 2rem;
    }
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 32px;
      text-align: justify;
      letter-spacing: -0.03em;
      color: #ffffff;
    }
  }
  &_phone {
    margin-top: 35px;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 2rem;
    }
    // @include respond(phone){
    //  flex-direction: column;   
    // }
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 32px;
      text-align: justify;
      letter-spacing: -0.03em;
      color: #ffffff;
    }
  }
  &_socailIcons {
    margin-top: 81px;
    cursor: pointer;
    & > *:not(:first-child) {
      margin-left: 2rem;
    }
  }
}
