@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.footer_container {
  padding: 110px 0px;
//   background-color: aqua;
  &_content {
    padding: 110px 0px;
    // background-color: lawngreen;
    h1 {
      font-family: "Archivo Black";
      font-size: 4.9rem;
      line-height: 90px;
      text-align: center;
      background: linear-gradient(104.43deg, #0000c8 39.77%, #4cc9f0 86.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 3.3rem;
      line-height: 90px;
      /* identical to box height, or 271% */
      text-align: center;
      color: #212427;
    }
  }
}
